@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
 }
*{
   -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input,
textarea,
button,
select,
a{
   -webkit-tap-highlight-color:rgha(0,0,0,0);
}
a:focus,
a:visited,
a:active{
   outline:none;
}
body{
    background-color: #F3F3F3;
}
.logo-img{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.logo{
    border-radius: 50%;
    width: 15rem;
}

.form{
    margin:10px;
}
/* input{
    margin: 10px;
    padding: 20px;
    border: 1px solid #969696;
    border-radius: 5px;
    width: 100%;
} */
.btn{
    display: flex;
    justify-content: center;
}

button[type=submit] {
    background-color: #4F9A95;
    border: none;
    color: white;
    padding: 15px 85px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    font-weight:500;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 20px; 
}




/* Style for the label elements */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #8c8c8c;
    font-size:13px;
  }
  
  /* Style for the select element */
  select {
    width: 100%;
    padding: 20px;
    border: 1.4px solid #cccccc;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }


  /* Style for the select element placeholder text */

  
  
  /* Style for the text input elements */
  input {
    width: 100%;
    padding: 20px;
    border: 1.4px solid #949494;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Style for the submit button element */
  input[type="submit"] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


  

@media (max-width:1200px){

   section{
      padding:5rem 5%;
   }
 

}

@media (max-width:991px){
   html{
      font-size: 55%;
   }  
}
@media (max-width:768px){}
@media (max-width:450px){}



